/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: Simple;
	border-collapse: separate;
	max-id: 4;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #5284af;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #5284af;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #5284af;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #5284af;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #5284af;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #5284af;
	name: Header1;
	id: 2;
	background-color: #082f4d;
	color: #ffffff;
	font-family: 'Noto Sans';
	text-align: center;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #5284af;
	name: Row1;
	id: 1;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	font-family: 'Noto Sans';
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Row2;
	background-color: #f1f1f1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #5284af;
	font-family: 'Noto Sans';
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #5284af;
	name: Footer1;
	id: 3;
	background-color: #5f6a6d;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-Simple
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #5284af;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #5284af;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #5284af;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #5284af;
	border-bottom-width: 2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Simple-Column-Column1
{
	
}

.TableStyle-Simple-Head-Header1
{
	
}

.TableStyle-Simple-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
	border-bottom-width: 1px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
}

.TableStyle-Simple-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
	border-bottom-width: 1px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
}

.TableStyle-Simple-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
	border-bottom-width: 1px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
}

.TableStyle-Simple-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
	background-color: #082f4d;
}

.TableStyle-Simple-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-Foot-Footer1
{
	
}

.TableStyle-Simple-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootI-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
	border-top-width: 1px;
	border-top-color: #5284af;
	border-top-style: solid;
}

.TableStyle-Simple-FootE-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
	border-top-width: 1px;
	border-top-color: #5284af;
	border-top-style: solid;
}

.TableStyle-Simple-FootF-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootH-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
	border-top-width: 1px;
	border-top-color: #5284af;
	border-top-style: solid;
}

.TableStyle-Simple-FootD-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootC-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootB-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootA-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
	background-color: #5f6a6d;
}

.TableStyle-Simple-FootG-Column1-Footer1 p
{
	color: #ffffff;
	font-family: 'Noto Sans';
	font-weight: bold;
}

.TableStyle-Simple-Body-Row1
{
	
}

.TableStyle-Simple-BodyI-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyI-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyE-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyE-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyF-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyF-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyH-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyH-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyD-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyD-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyC-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyC-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyB-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyB-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyA-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyA-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyG-Column1-Row1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyG-Column1-Row1 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-Body-Row2
{
	
}

.TableStyle-Simple-BodyI-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyI-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyE-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyE-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyF-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyF-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyH-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyH-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyD-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	border-bottom-width: 0px;
	border-bottom-color: #5284af;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyD-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyC-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyC-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyB-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #5284af;
	border-right-style: solid;
}

.TableStyle-Simple-BodyB-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyA-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyA-Column1-Row2 p
{
	font-family: 'Noto Sans';
}

.TableStyle-Simple-BodyG-Column1-Row2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Noto Sans';
	background-color: #f1f1f1;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Simple-BodyG-Column1-Row2 p
{
	font-family: 'Noto Sans';
}
