/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TrainingHeader;
	border-collapse: collapse;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	text-align: center;
	vertical-align: middle;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableHeadStyle
{
	span: 1;
	name: Header1;
	id: 2;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	type: Manual;
	text-align: center;
	vertical-align: middle;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
}

mcTableFootStyle
{
	span: 1;
	name: Footer1;
	id: 3;
	text-align: center;
	vertical-align: middle;
}


/* Cell Styles: */
 
.TableStyle-TrainingHeader
{
	border-collapse: collapse;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-TrainingHeader-Column-Column1
{
	
}

.TableStyle-TrainingHeader-Head-Header1
{
	
}

.TableStyle-TrainingHeader-HeadI-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadE-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadF-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadH-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadD-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadC-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadB-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadA-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-HeadG-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TrainingHeader-Foot-Footer1
{
	
}

.TableStyle-TrainingHeader-FootI-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootE-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootF-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootH-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootD-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootC-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootB-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootA-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-FootG-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-TrainingHeader-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TrainingHeader-Body-Body1
{
	
}

.TableStyle-TrainingHeader-BodyI-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyE-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyF-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyH-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyD-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyC-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyB-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyA-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TrainingHeader-BodyG-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-TrainingHeader-BodyG-Column1-Body1 p
{
	
}


