/*<meta />*/

@font-face 
{
	font-family: 'Sarabun';
	src: url(../Fonts/Sarabun-Regular.ttf);
}

@font-face 
{
	font-family: 'Source Code Pro Medium';
	src: url(../Fonts/SourceCodePro-Medium.ttf);
}

.anchor
{
	font-weight: 400;
	transition: color .15s ease-in-out, opacity .15s ease-in-out;
	opacity: 0;
	text-decoration: none;
	color: #528bbc;
}

h2:hover .anchor
{
	display: inline-block;
	transition: color .15s ease-in-out, opacity .15s ease-in-out;
	opacity: 1;
	pointer-events: auto;
	color: #528bbc;
}

h3:hover .anchor
{
	display: inline-block;
	transition: color .15s ease-in-out, opacity .15s ease-in-out;
	opacity: 1;
	pointer-events: auto;
	color: #528bbc;
}

body
{
	font-size: 1.1em;
	font-family: 'Sarabun';
	line-height: 1.5em;
	color: #262626;
	font-weight: 500;
}

a
{
	font-family: 'Sarabun';
	color: #082f4d;
}

html
{
	mc-master-page: url('../MasterPages/OtherTopics.flmsp');
}

a:link
{
	color: #082f4d;
}

a:visited
{
	color: #5f6a6d;
}

a:hover
{
	color: #528bbc;
}

.nav ul li a:hover
{
	text-decoration: underline;
}

ul.menu._Skins_SideMenu.mc-component li > a:hover
{
	border-radius: 5px;
}

a.MCBreadcrumbsLink
{
	font-style: normal;
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	color: #505153;
}

a.MCBreadcrumbsLink:hover
{
	color: #404040;
}

blockquote
{
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	font-size: 0.9em;
	margin: 0;
	font-family: 'Sarabun';
	font-weight: bold;
	font-style: italic;
	color: #955aa5;
	line-height: 19px;
	text-align: justify;
	letter-spacing: 1px;
	background-color: #ffffff;
	background-image: url('../Images/QuotationMark2.png');
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #d0dfed;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #d0dfed;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #d0dfed;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #d0dfed;
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.TightContent
{
	margin: 0px;
	padding: 0px;
	line-height: 1em;
}

h1
{
	mc-heading-level: 1;
	font-size: 1.6em;
	padding-bottom: 10px;
	margin-bottom: 8px;
	margin-top: 20px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
	color: #528bbc;
	letter-spacing: 2px;
}

h2
{
	mc-heading-level: 2;
	margin-bottom: 4px;
	margin-top: 20px;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
	color: #528bbc;
	letter-spacing: 1px;
}

h3
{
	mc-heading-level: 0;
	margin-bottom: 4px;
	margin-top: 16px;
	font-weight: bold;
	font-style: normal;
	font-size: 1.4em;
	font-family: 'Sarabun';
	color: #528bbc;
	letter-spacing: 1px;
}

h4
{
	font-size: 1.3em;
	margin: 10px 0 5px 0;
	mc-heading-level: 0;
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
	color: #955aa5;
}

h5
{
	margin: 0px;
	font-size: 1.2em;
	mc-heading-level: 0;
	font-family: 'Sarabun';
	font-weight: bold;
	font-style: normal;
	margin-top: 10px;
	color: #955aa5;
}

h6
{
	margin: 0px;
	font-size: 1.1em;
	margin-top: 5px;
	mc-heading-level: 0;
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
	color: #955aa5;
}

img
{
	border: none;
	max-width: 100%;
}

.FiftyPercentMaxWidth
{
	max-width: 50%;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

img.ReduceButtonSize
{
	max-height: 18px;
	max-width: auto;
}

li
{
	orphans: 2;
	widows: 2;
	font-family: 'Sarabun';
	margin-top: 8px;
	margin-bottom: 8px;
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-disabled: false;
	mc-open-image: url('../Images/DropDownOpen.png');
	font-family: 'Sarabun';
}

MadCap|dropDownBody
{
	mc-disabled: false;
	padding-bottom: 5px;
	font-family: 'Sarabun';
	border-bottom: solid 1px #528bbc;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0px;
}

MadCap|dropDownHead
{
	mc-disabled: false;
	mc-heading-level: 4;
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
	color: #082f4d;
	font-size: 1em;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
}

MadCap|dropDownHotspot:hover
{
	color: #528bbc;
}

MadCap|popup
{
	font-family: 'Sarabun';
	color: #528bbc;
}

MadCap|popup:focus
{
	color: #528bbc;
}

MadCap|popup:hover
{
	color: #528bbc;
}

MadCap|popupHead
{
	font-weight: bold;
	font-family: 'Sarabun';
	color: #528bbc;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #404040;
}

ol
{
	list-style-image: none;
	font-family: 'Sarabun';
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Sarabun';
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Example
{
	background-color: #bed230;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.ExampleHead
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
}

p.ExampleMiddleSection
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.note
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-radius: 6px;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	color: #f1f1f1;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #404040;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #404040;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #404040;
}

p.noteBottom
{
	background-color: #3e3e3e;
	border-bottom-color: #404040;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f1f1f1;
}

p.noteMiddle
{
	background-color: #3e3e3e;
	border-bottom: 0px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f1f1f1;
}

p.noteTop
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #404040;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 0;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	color: #f1f1f1;
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

span.Emphasis
{
	font-weight: bold;
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

ul
{
	margin-left: 2.1em;
	padding: 0;
	font-family: 'Sarabun';
	/*	list-style-image: url('../Images/BulletSq1.png'); */
	list-style: none;
}

ul li::before
{
	content: "\25c9";
	color: #528bbc;
	width: 1em;
	list-style-position: outside;
	margin-left: -1.2em;
	margin-right: 0.3em;
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/BulletSq1.png');
}

ul.SecondLevel
{
	list-style-image: url('../Images/BulletSq1.png');
}

/* Side Content */

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

.miniToc
{
	background-color: #f1f1f1;
	border-radius: 10px;
}

ul._Skins_SideMenu li a.selected::before
{
	color: #404040;
	font-weight: bold;
	content: "> ";
}

MadCap|miniTocProxy
{
	float: right;
}

p.indent1
{
	padding-left: 4em;
}

p.indent2
{
	padding-left: 8em;
}

p.indent3
{
	padding-left: 12em;
}

div.SampleText
{
	font-family: Verdana;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	background-color: #f5f5f5;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	padding: 3px;
	line-height: 1em;
	font-size: 0.9em;
}

.Important
{
	margin-bottom: auto;
	margin-top: 10px;
	color: #ffffff;
	font-weight: normal;
	background-color: #955aa5;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #082f4d;
	overflow: hidden;
	font-weight: bold;
}

.Important a
{
	color: #ffffff;
}

.Important span.ControlName
{
	color: #E2FFE0;
}

.PDNote
{
	margin-bottom: auto;
	margin-top: 10px;
	color: #082f4d;
	background-color: #d0dfed;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #528bbc;
	overflow: hidden;
	font-weight: bold;
	font-style: normal;
}

span.NamedControl
{
	color: #035D79;
}

span.ControlName
{
	color: #006800;
}

span.ProcessDirectorObject
{
	color: #1F00EA;
}

span.UIElement
{
	color: #B60000;
}

span.KeyTerms
{
	font-weight: bold;
	font-style: normal;
	color: #6300A6;
}

.CodeBase
{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #082f4d;
	font-family: 'Source Code Pro Medium';
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #d0dfed;
	line-height: 1.2em;
	overflow: hidden;
	font-size: 0.9em;
}

code
{
	font-family: 'Source Code Pro Medium';
	font-size: 0.9em;
	color: #082f4d;
}

span.Code
{
	font-family: 'Source Code Pro Medium';
	color: #082f4d;
}

.CodeOption
{
	font-family: 'Source Code Pro Medium';
	color: #1F00EA;
}

.CodeComment
{
	font-family: 'Source Code Pro Medium';
	color: #006800;
}

.CodeVariable
{
	font-family: 'Source Code Pro Medium';
	color: #B60000;
}

a.Button
{
	border: solid 3px #082f4d;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	border-top-left-radius: 10px 10px;
	border-radius: 10px / 10px;
	background-color: #528bbc;
}

a.Button:hover
{
	border: solid 3px #528bbc;
	color: #f1f1f1;
	background-color: #082f4d;
	border: solid 3px #528bbc;
}

/* Custom Styles */

.tab-bar
{
	
}

.f-nav
{
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

/* this make our menu fixed top */

.nav
{
	height: 42px;
}

.nav ul
{
	list-style: none;
}

.nav ul li
{
	float: left;
	margin-top: 6px;
	padding: 6px;
	border-right: 1px solid #ACACAC;
}

.nav ul li:first-child
{
	padding-left: 0;
}

.nav ul li a
{
	
}

nav.tab-bar
{
	height: auto;
	line-height: 1em;
	padding: 10px 0;
	display: block;
	padding-top: 0px;
	padding-bottom: 1px;
}

.main-section
{
	/* padding-top: 90px; */
}

/* Footer */

.footer
{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	background-color: #528bbc;
}

.footer a
{
	text-decoration: none;
	color: #DADADA;
}

.footer > div.row
{
	line-height: 30px;
	padding: 0;
}

.footer-logo
{
	max-width: 100%;
}

.footer-links
{
	text-align: left;
}

.footer-links a
{
	padding-right: 15px;
}

.footer-icons
{
	text-align: right;
}

.footer-icons > a:first-of-type
{
	padding-right: 10px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

ul.navigation ul
{
	background-color: rgba(0,0,0,0.5) !important;
	border-radius: 10px;
	list-style: none;
}

ul.navigation ul > li
{
	margin: 4px;
	border-radius: 10px;
}

ul.navigation li::before
{
	content: none;
}

/*
[name]:before {
        content: "\0020";
        display: block;
        width: 0;
        height: 115px;
        position: relative;
        top: -115px;
        margin-top: -115px;
    }
*/

.main-section > .row.outer-row
{
	max-width: 100%;
	padding: 0;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
}

div
{
	font-family: 'Sarabun';
}

dl
{
	font-family: 'Sarabun';
}

dd
{
	font-family: 'Sarabun';
}

dt
{
	font-family: 'Sarabun';
}

MadCap|glossaryTerm
{
	font-family: 'Sarabun';
}

MadCap|expanding
{
	font-family: 'Sarabun';
}

MadCap|expandingHead
{
	font-family: 'Sarabun';
}

MadCap|expandingBody
{
	font-family: 'Sarabun';
}

MadCap|toggler
{
	font-family: 'Sarabun';
}

MadCap|popupBody
{
	font-family: 'Sarabun';
}

MadCap|helpControlMenu
{
	font-family: 'Sarabun';
}

@media print
{
	span.SearchHighlight
	{
		
	}

	span.SearchHighlight1
	{
		
	}

	span.SearchHighlight2
	{
		
	}

	span.SearchHighlight3
	{
		
	}

	span.SearchHighlight4
	{
		
	}

	span.SearchHighlight5
	{
		
	}

	span.SearchHighlight6
	{
		
	}

	span.SearchHighlight7
	{
		
	}

	span.SearchHighlight8
	{
		
	}

	span.SearchHighlight9
	{
		
	}

	span.SearchHighlight10
	{
		
	}

	MadCap|dropDownBody
	{
		border-bottom-style: none;
		border-bottom: none;
		border-bottom-width: 0px;
	}

	MadCap|dropDownBody.Final
	{
		border-bottom: none;
	}

	code
	{
		font-family: 'Source Code Pro Medium';
		font-size: 0.9em;
	}

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
		mc-column-count: 2;
		font-size: 10pt;
	}

	div
	{
		font-family: 'Sarabun';
	}

	blockquote
	{
		font-family: 'Sarabun';
	}
}

span.SearchHighlight
{
	background-color: #ffff00;
}

span.SearchHighlight1
{
	background-color: #adff2f;
}

span.SearchHighlight10
{
	background-color: #3cb371;
}

span.SearchHighlight2
{
	background-color: #dcdcdc;
}

span.SearchHighlight3
{
	background-color: #b0e0e6;
}

span.SearchHighlight4
{
	background-color: #87cefa;
}

span.SearchHighlight5
{
	background-color: #00ced1;
}

span.SearchHighlight6
{
	background-color: #ee82ee;
}

span.SearchHighlight7
{
	background-color: #ffe4b5;
}

span.SearchHighlight8
{
	background-color: #98fb98;
}

span.SearchHighlight9
{
	background-color: #ef6666;
}

video
{
	max-width: 100%;
}

.search-filter-wrapper
{
	top: 0px !important;
}

.search-submit-wrapper
{
	top: 0px !important;
}

.search-filter-content
{
	line-height: 0.75em !important;
	border: 1px solid #082f4d !important;
	border-radius: 10px !important;
	color: #082f4d !important;
}

.search-filter-content li:hover
{
	color: #ffffff !important;
	background-color: #955aa5 !important;
	border-radius: 10px !important;
	transition: color .15s ease-in-out, opacity .15s ease-in-out;
	transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
}

.search-filter-content li
{
	transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
	transition: color .15s ease-in-out, opacity .15s ease-in-out;
}

.search-filter-content li::before
{
	content: none;
}

ul.menu._Skins_SideMenu.mc-component li::before
{
	content: none;
}

ul#resultList li::before
{
	content: none;
}

#resultList .glossary .term a
{
	color: #955aa5 !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

#resultList .glossary .term a:hover
{
	color: #262626 !important;
	text-decoration: underline !important;
}