/*<meta />*/

@font-face 
{
	font-family: 'Sarabun';
	src: url(../Fonts/Sarabun-Regular.ttf);
}

@font-face 
{
	font-family: 'Source Code Pro Medium';
	src: url(../Fonts/SourceCodePro-Medium.ttf);
}

body
{
	color: #404040;
	font-size: 0.85em;
	line-height: 1.4em;
	font-family: 'Sarabun';
}

a
{
	color: #4F8ABE;
}

html
{
	mc-master-page: url('../MasterPages/OtherTopics.flmsp');
}

a:link
{
	color: #4F8ABE;
}

a:visited
{
	color: #505153;
}

a:hover
{
	color: #404040;
}

.nav ul li a:hover
{
	text-decoration: underline;
}

a.MCBreadcrumbsLink
{
	font-style: normal;
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	color: #505153;
}

a.MCBreadcrumbsLink:hover
{
	color: #404040;
}

blockquote
{
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #f5f5f5;
	background-image: url('../Images/QuotationMark.png');
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.TightContent
{
	margin: 0px;
	padding: 0px;
	line-height: 1em;
}

h1
{
	font-size: 1.6em;
	padding-bottom: 10px;
	margin-bottom: 8px;
	margin-top: 20px;
	font-weight: bold;
	font-family: 'Sarabun';
}

h2
{
	margin-bottom: 4px;
	font-size: 1.5em;
	margin-top: 20px;
	font-weight: bold;
	font-family: 'Sarabun';
}

h3
{
	margin-bottom: 4px;
	line-height: 1em;
	font-size: 1.4em;
	margin-top: 16px;
	font-weight: bold;
	font-family: 'Sarabun';
}

h4
{
	font-size: 1.3em;
	line-height: 1.2em;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-family: 'Sarabun';
}

h5
{
	margin: 0px;
	line-height: 1em;
	font-size: 1.2em;
	margin-top: 5px;
	font-weight: bold;
	font-family: 'Sarabun';
}

h6
{
	margin: 0px;
	font-size: 1.1em;
	margin-top: 5px;
	font-family: 'Sarabun';
	font-weight: bold;
	font-style: italic;
}

img
{
	border: none;
	max-width: 100%;
}

.FiftyPercentMaxWidth
{
	max-width: 50%;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

img.ReduceButtonSize
{
	max-height: 18px;
	max-width: auto;
}

li
{
	orphans: 2;
	widows: 2;
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-disabled: false;
	mc-open-image: url('../Images/DropDownOpen.png');
}

MadCap|dropDownBody
{
	mc-disabled: false;
	border-bottom: solid 1px #666666;
	padding-bottom: 5px;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0px;
}

MadCap|dropDownHead
{
	mc-disabled: false;
	color: #444444;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
	font-size: 1.10em;
	color: #404040;
}

MadCap|dropDownHotspot:hover
{
	color: #666666;
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

ol
{
	list-style-image: none;
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
}

p
{
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: 'Sarabun';
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Example
{
	background-color: #bed230;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.ExampleHead
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
}

p.ExampleMiddleSection
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.note
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-radius: 6px;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	color: #082f4d;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #404040;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #404040;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #404040;
}

p.noteBottom
{
	background-color: #3e3e3e;
	border-bottom-color: #404040;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	color: #082f4d;
}

p.noteMiddle
{
	background-color: #3e3e3e;
	border-bottom: 0px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	color: #082f4d;
}

p.noteTop
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #404040;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 0;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	color: #082f4d;
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

span.Emphasis
{
	font-weight: bold;
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

ul
{
	margin-left: 2.1em;
	list-style-image: url('../Images/Bullet1.png');
	padding: 0;
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/Bullet1.png');
}

ul.SecondLevel
{
	list-style-image: url('../Images/Bullet2.png');
}

/* Side Content */

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

.miniToc
{
	background-color: #fafafa;
}

ul._Skins_SideMenu li a.selected::before
{
	color: #404040;
	font-weight: bold;
	content: "> ";
}

span.NamedControl
{
	color: #ba5200;
}

span.ControlName
{
	color: #008700;
}

span.ProcessDirectorObject
{
	color: #0000ff;
}

span.UIElement
{
	color: #ef0000;
}

span.KeyTerms
{
	font-weight: bold;
	font-style: normal;
	color: #8a2be2;
}

MadCap|miniTocProxy
{
	float: right;
}

p.indent1
{
	padding-left: 4em;
}

p.indent2
{
	padding-left: 8em;
}

p.indent3
{
	padding-left: 12em;
}

div.SampleText
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	background-color: #f5f5f5;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	padding: 3px;
	line-height: 1em;
	font-size: 0.9em;
	font-family: 'Sarabun';
}

.CodeBase
{
	font-family: 'Source Code Pro Medium';
	background-color: #f9f9f9;
	padding: 10px;
	border: 3px solid #d0dfed;
	line-height: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 0.9em;
	display: block;
	border-radius: 15px;
	text-align: left;
	color: #082f4d;
}

span.Code
{
	font-family: 'Source Code Pro Medium';
	text-align: left;
	color: #082f4d;
}

.CodeOption
{
	font-family: 'Source Code Pro Medium';
	color: #d10090;
}

code
{
	font-family: 'Source Code Pro Medium';
	font-size: 0.9em;
	text-align: left;
	color: #082f4d;
}

.Important
{
	margin-bottom: auto;
	margin-top: 10px;
	font-weight: normal;
	background-color: #955aa5;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #082f4d;
	color: #ffffff;
	font-family: 'Sarabun';
	margin-bottom: 0;
	text-align: left;
	font-weight: bold;
}

.Important a
{
	color: #ffffff;
}

.Important span.ControlName
{
	color: #E2FFE0;
}

.PDNote
{
	margin-bottom: auto;
	margin-top: 10px;
	color: #082f4d;
	background-color: #d0dfed;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #528bbc;
	overflow: hidden;
	font-weight: bold;
	font-style: normal;
}

a.Button
{
	background-color: #666666;
	border: solid 3px #444444;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	border-top-left-radius: 10px 10px;
	border-radius: 10px / 10px;
}

a.Button:hover
{
	border: solid 3px #666666;
	background-color: #a9a9a9;
	color: #000000;
}

/* Custom Styles */

.tab-bar
{
	
}

.f-nav
{
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

/* this make our menu fixed top */

.nav
{
	height: 42px;
}

.nav ul
{
	list-style: none;
}

.nav ul li
{
	float: left;
	margin-top: 6px;
	padding: 6px;
	border-right: 1px solid #ACACAC;
}

.nav ul li:first-child
{
	padding-left: 0;
}

.nav ul li a
{
	
}

nav.tab-bar
{
	height: auto;
	line-height: inherit;
	padding: 10px 0;
	display: block;
	padding-top: 0px;
	padding-bottom: 1px;
	background-color: rgba(0,0,0,0.5);
}

.main-section
{
	/* padding-top: 90px; */
}

/* Footer */

.footer
{
	background-color: #292928;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer a
{
	text-decoration: none;
	color: #DADADA;
}

.footer > div.row
{
	line-height: 30px;
	padding: 0;
}

.footer-logo
{
	max-width: 100%;
}

.footer-links
{
	text-align: left;
}

.footer-links a
{
	padding-right: 15px;
}

.footer-icons
{
	text-align: right;
}

.footer-icons > a:first-of-type
{
	padding-right: 10px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

ul.navigation ul
{
	background-color: rgba(0,0,0,0.5) !important;
}

/*
[name]:before {
        content: "\0020";
        display: block;
        width: 0;
        height: 115px;
        position: relative;
        top: -115px;
        margin-top: -115px;
    }
*/

.main-section > .row.outer-row
{
	max-width: 100%;
	padding: 0;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
}

MadCap|slideshowCaption
{
	font-family: 'Sarabun';
}

@media print
{
	p
	{
		text-align: justify;
		font-family: 'Sarabun';
	}

	body
	{
		font-family: 'Sarabun';
	}

	th
	{
		font-family: 'Sarabun';
	}

	h1
	{
		font-family: 'Sarabun';
	}

	h2
	{
		font-family: 'Sarabun';
	}

	h3
	{
		font-family: 'Sarabun';
	}

	h4
	{
		font-family: 'Sarabun';
		mc-heading-level: 0;
	}

	h5
	{
		font-family: 'Sarabun';
		mc-heading-level: 0;
	}

	h6
	{
		font-family: 'Sarabun';
		mc-heading-level: 0;
	}

	ul
	{
		list-style-image: none;
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: none;
	}

	ul.SecondLevel
	{
		list-style-image: none;
	}

	MadCap|pageHeader
	{
		font-family: 'Sarabun';
	}

	MadCap|pageFooter
	{
		font-family: 'Sarabun';
	}

	MadCap|dropDownBody
	{
		border-bottom: 0px;
	}

	MadCap|dropDownHead
	{
		font-weight: bold;
		font-style: normal;
		font-family: 'Sarabun';
	}

	img
	{
		margin-bottom: 0px;
		margin: 2px;
	}

	td
	{
		margin: 5px;
	}

	div
	{
		font-family: 'Sarabun';
	}

	MadCap|slideshowCaption
	{
		font-family: 'Sarabun';
	}

	div.SampleText
	{
		font-family: 'Sarabun';
	}
}

MadCap|pageFooter
{
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
}

MadCap|pageHeader
{
	font-weight: bold;
	font-style: normal;
	font-family: 'Sarabun';
}

@media mobile
{
	h1
	{
		color: #5284af;
	}

	h2
	{
		font-size: 1.4em;
		color: #5284af;
	}

	h3
	{
		font-size: 1.3em;
		color: #5284af;
	}

	h4
	{
		color: #5f6a6d;
	}

	h5
	{
		color: #5f6a6d;
	}

	h6
	{
		font-weight: bold;
		font-style: normal;
		color: #5f6a6d;
	}
}